<side-bar-nav></side-bar-nav>
<admin-mobile-side-bar-nav></admin-mobile-side-bar-nav>
<user-info></user-info>

<div class="main-wrapper">

    <div class="admin_faq_cards_container">
        <div class="admin_faq_cards">
            <div class="admin_faq_cards_head"><div><p>Add a new FAQ</p></div></div>
            <div class="admin_faq_cards_new">
                <textarea ng-model="newFaq.question" placeholder="Add a new question"></textarea>
                <textarea ng-model="newFaq.answer" placeholder="Add a new answer"></textarea><br>
                <button ng-click="addNewFaq(newFaq)">Submit</button>
            </div>
        </div>
    </div>

    <!--Container of current FAQs-->
    <div class="admin_faq_cards_container">
        <div ng-repeat="faqs in Faq | orderBy: '-'" class="admin_faq_cards">
            <div class="admin_faq_cards_head"><div><p>FAQ</p></div><div><i ng-click="toggleUpdate = !toggleUpdate; faq.answer = faqs.answer; faq.question = faqs.question; faq._id = faqs._id" class="fa fa-pencil"></i><i class="fa fa-times" ng-click="selectFaq(faqs); deleteFaq(selected)"></i></div></div>
            <p class="admin_faq_cards_text"><span class="bold">Question:</span>&nbsp;&nbsp;{{faqs.question}}</p><br><p><span class="bold">Answer:</span>&nbsp;&nbsp;{{faqs.answer}}</p>
            <div class="admin_faq_cards_wrench" ng-show="toggleUpdate">
                <textarea ng-model="faq.question" placeholder="Edit question"></textarea>
                <textarea ng-model="faq.answer" placeholder="Edit answer"></textarea><br>
                <button ng-click="updateFaq(faq)">Edit</button>
            </div>
        </div>
    </div>
</div> <!--main-wrapper closing div -->
