<side-bar-nav></side-bar-nav>

<!--Inputs to create new FAQ-->
<div>
    <input ng-model="newFaq.question" placeholder="Add question"></input>
    <input ng-model="newFaq.answer" placeholder="Add answer"></input>
    <button ng-click="addNewFaq(newFaq)">Submit</button>
</div>

<!--Inputs to edit or remove FAQ-->
<div>
    <input ng-model="selected.question" placeholder="Edit or remove question"></input>
    <input ng-model="selected.answer" placeholder="Edit or remove answer"></input>
    <button ng-click="updateFaq(selected)">Edit</button><button ng-click="deleteFaq(selected)">Remove</button>
</div>

<!--Container of active FAQ-->
<div ng-repeat="faqs in Faq" ng-click="selectFaq(faqs)">
    <p>Question: {{faqs.question}}</p>
    <p>Answer: {{faqs.answer}}</p>
</div>
