<student-side-bar-nav></student-side-bar-nav>
<user-info></user-info>

<div class="student-main-wrapper">

  <div class="student_header default_cards_container">
		<div class="default_repeat_cards">
			<div class="default_cards_head">
				<h1 id="student_header_text">Rental Information </h1>
			</div>
			<div class="student_text default_cards_text">
				<p>Your rental agreement for DevMountain housing is:&nbsp;&nbsp;${{user.rent.rentPrice}}/month</p>
                <p>If you have any questions please email: <a href="mailto:bri@devmounta.in" target="_top">bri@devmounta.in</a></p>
                <p ng-repeat="rent in user.rent.rentPaid">Rent History: {{user.rent.rentPaid}}</p>
			</div>
		</div>
	</div>

</div> <!--main-wrapper closing div -->
