$regularText: Proxima
$boldText: Bold


.workorder_sort_container
    display: flex
    padding-left: 10px

.workorder_repeat_cards
    display: flex
    flex-direction: column
    justify-content: center
    padding: 10px
    padding-bottom: 20px
    margin: 10px
    font-size: 13px
    box-shadow: 1px 1px 4px rgba(134, 134, 134, 0.5)
    @media (min-width: 768px)
        font-size: 16px

.workorder_repeat_head
    display: flex
    justify-content: space-between
    padding-bottom: 5px
    padding-top: 5px
    padding-left: 10px
    padding-right: 10px
    margin-bottom: 10px
    margin-top: -10px
    margin-left: -10px
    margin-right: -10px
    color: white
    background: #418AD0
    font-size: 20px
    @media(max-width: 768px)
        display: block



.admin_workorder_cards_divider_container
    display: flex
    justify-content: space-between
    @media(max-width: 768px)
        display: block


.workorder_cards_text
    padding-top: 10px
    word-wrap: break-word
    width: 429px
    padding-left: 10px
    padding-right: 10px
    @media (max-width: 768px)
        padding-top: 30px
        width: auto !important

.left
    border-right: 1px solid
    @media(max-width: 768px)
        border-right: none

.workorder_faq_cards_edit
    margin-top: 20px
    padding-left: 10px

.workorder_admin_status
    display: flex
    flex-direction: row
    justify-content: flex-start
    @media(max-width: 768px)
        flex-direction: column

.workorder_admin_status div
    margin-right: 30px
    padding-bottom: 20px
rgb(173, 164, 75)

.pointer
    cursor: pointer

.workorderReceived
  color: #8f0000
  font-family: Bold

.workorderInProgress
  color: #b46f07
  font-family: Bold

.workorder_header_box
  display: flex
  justify-content: space-between

.createWO_button
  margin-right: 20px

.button_standard
  color: white
  font-size: 12px
  border-radius: 0px
  padding: 10px
  background-color: rgb(65, 138, 208)
  border: 0px

  &:hover
    background-color: #5693cd
