.workorder_sort_container
    display: flex
    padding-left: 10px

.workorder_repeat_cards
    display: flex
    flex-direction: column
    justify-content: center
    border-left: 1px solid #898989
    border-bottom: 1px solid #898989
    border-right: 1px solid #898989
    padding: 10px
    padding-bottom: 20px
    margin: 10px
    border-radius: 8px
    font-size: 13px
    box-shadow: 0px 3px 6px #888888
    @media (min-width: 768px)
        font-size: 16px

.workorder_repeat_head
    display: flex
    justify-content: space-between
    padding-bottom: 10px
    padding-top: 10px
    padding-left: 10px
    padding-right: 10px
    margin-bottom: 10px
    margin-top: -10px
    margin-left: -10px
    margin-right: -10px
    border-top-right-radius: 8px
    border-top-left-radius: 8px
    color: white
    background: #418AD0
    font-size: 20px
    @media(max-width: 768px)
        display: block



.admin_workorder_cards_divider_container
    display: flex
    justify-content: space-between
    @media(max-width: 768px)
        display: block


.workorder_cards_text
    padding-top: 10px
    word-wrap: break-word
    width: 429px
    padding-left: 10px
    padding-right: 10px
    @media (max-width: 768px)
        padding-top: 30px
        width: auto !important

.left
    border-right: 1px solid
    @media(max-width: 768px)
        border-right: none

.workorder_faq_cards_edit
    margin-top: 20px
    padding-left: 10px

.workorder_admin_status
    display: flex
    flex-direction: row
    justify-content: flex-start
    @media(max-width: 768px)
        flex-direction: column

.workorder_admin_status div
    margin-right: 30px
    padding-top: 10px
    padding-bottom: 10px


.pointer
    cursor: pointer

.workorderStatus
  color: orange
