<side-bar-nav></side-bar-nav>
<admin-mobile-side-bar-nav></admin-mobile-side-bar-nav>
<user-info></user-info>

<div class="main-wrapper">

    <!--Top card with search options-->
    <div class="default_cards_container">
        <div class="workorder_repeat_cards white_background_color">
            <div class="default_cards_head"><div id="student_workorder_header_text"><p>Create Workorder</p></div></div>
            <div class="student_workorder_sort_container default_cards_text">
                <div><input ng-model="workorder" placeholder="Search workorders"></input></div>
                <br>
                <div>
                    <select ng-model="workorder.problemType">
                        <option value="" disabled selected>Select Category</option>
                        <option value="appliance">appliance</option>
                        <option value="electrical">electrical</option>
                        <option value="plumbing">plumbing</option>
                        <option value="other">other</option>
                    </select>
                    <br>
                    <br>
                <button ng-click="toggleWorkorderDashboard = !toggleWorkorderDashboard; workorders.description = workorder.description;workorders.problemType = workorder.problemType; workorders._id = workorder._id">New Workorder</button>
            </div>
            </div>
            <div class="workorder_faq_cards_edit" ng-show="toggleWorkorderDashboard">
              <!--Unit select dropdown-->
              <select ng-model="adminWorkorder.unit" class="campus_WO" name="type" required>
                <option value="" disabled selected>Select Unit</option>
                <option ng-repeat="unit in units" value="{{unit.campus}} {{unit.unitNumber}}">{{unit.campus}} {{unit.unitNumber}}</option>
              </select>
                <br>
                <br>
                <textarea ng-model="adminWorkorder.description" placeholder="Description"></textarea>
                <br>
                <select ng-model="adminWorkorder.problemType" name="type" required>
                    <option value="" disabled selected>Select</option>
                    <option value="appliance">appliance</option>
                    <option value="electrical">electrical</option>
                    <option value="plumbing">plumbing</option>
                    <option value="other">other</option>
                </select>
                <button ng-if="adminWorkorder.unit" ng-click="workorderCreate(adminWorkorder)">Create</button>
            </div>
        </div>
    </div>


    <!--Repeating cards of work orders-->
    <div class="default_cards_container">
        <div class="workorder_repeat_cards white_background_color" ng-repeat="workorder in adminList | orderBy: '-'| filter: workorder">
            <div class="workorder_repeat_head">
                <div><p>Work Order {{workorder.unit}}</p></div>
                <div><i ng-click="toggleUpdate = !toggleUpdate; workorders.description = workorder.description;workorders.problemType = workorder.problemType; workorders._id = workorder._id" class="fa fa-pencil"></i><i class="fa fa-times" ng-click="workorderDelete(workorder._id)"></i></div>
            </div>

            <div class="admin_workorder_cards_divider_container">
                <div class="workorder_cards_text left">
                    <p><span class="bold">Submitted by: </span>{{workorder.submittedBy.firstName}} {{workorder.submittedBy.lastName}}</p><br>
                    <span class="bold">Date: </span>{{workorder.dateSubmitted}}</p>
                    <span class="bold">Selected Issue</span>&nbsp;&nbsp;<span>{{workorder.problemType}}</span>
                    <p><span class="bold">Description: </span>&nbsp;&nbsp;{{workorder.description}}</p>
                </div>
                <div class="workorder_cards_text">
                    <p class="bold">Admin Update</p>
                    <div class="workorder_admin_status">
                        <div><p class="pointer"ng-click="selectStatus('Recieved', workorder._id)" ng-class="{workorderStatus: workorder.status === 'Recieved'}">Received</p></div>
                        <div><p class="pointer" ng-click="selectStatus('In Progress', workorder._id)" ng-class="{workorderStatus: workorder.status === 'In Progress'}">In Progress</p></div>
                        <div><p class="pointer"ng-click="selectStatus('Completed', workorder._id)" ng-class="{workorderStatus: workorder.status === 'Completed'}">Completed</p></div>
                    </div>
                    <p class="bold">Admin Notes</p>
                    <textarea ng-model="workorder.adminNotes"></textarea>
                </div>
            </div>

            <div class="workorder_faq_cards_edit" ng-show="toggleUpdate">
                <textarea ng-model="workorder.description" placeholder="Edit description"></textarea>
                <br>
                <select ng-model="workorder.problemType" name="type" required>
                    <option value="" selected>Select</option>
                    <option value="appliance">appliance</option>
                    <option value="electrical">electrical</option>
                    <option value="plumbing">plumbing</option>
                    <option value="other">other</option>
                </select>
                <br>
                <br>
                <button ng-click="workorderUpdate(workorder)">save</button>
            </div>
        </div>
    </div>

</div>
<!--main-wrapper closing div -->
