<side-bar-nav></side-bar-nav>
<admin-mobile-side-bar-nav></admin-mobile-side-bar-nav>
<user-info></user-info>

<div class="main-wrapper">

    <div class="users_cards_container">
        <div class="users_cards white_background_color">
            <div class="users_cards_head"><div><p>Search Users</p></div></div>
            <!--Search by name-->
            <div class="users_cards_new">
                <input ng-model="userSearch" placeholder="Search by Name"></input>
            </div>
            <!--Search by cohort-->
            <div>
                <input ng-model="cohortSearch" placeholder="Search by Cohort"></input>
            </div>
            <!--Filter by campus-->
            <div>
                <select ng-model="cohortFilter" ng-options="cohort as cohort.name for cohort in allCohorts">
                    <option value="">Campus</option>
                    <option ng-repeat="cohort"></option>
                </select>
            </div>
            <!-- <div class="users_edit" ng-show="addModal">
                <p class="bold">Add a new user</p>
                <input ng-model="newUser.firstName" placeholder="name"></input><br>
                <input ng-model="newUser.lastName" placeholder="name"></input><br>
                <input ng-model="newUser.age" placeholder="age"></input><br>
                <input ng-model="newUser.adminAccess" placeholder="Admin"></input><br>
                <input ng-model="newUser.campus" placeholder="campus"></input><br>
                <input ng-model="newUser.cohortID" placeholder="cohort"></input><br>
                <input ng-model="newUser.role" placeholder="role"></input><br>
                <input ng-model="newUser.inHousing" placeholder="housing"></input><br>
                <input ng-model="newUser.rent.isRenter" placeholder="pays rent"></input><br>
                <input ng-model="newUser.rent.rentPaid.rentPrice" placeholder="rent amount"></input><br>
                <input ng-model="newUser.singleRoom.hasSingleRoom" placeholder="private room"></input><br>
                <input ng-model="newUser.email" placeholder="email"></input><br>
                <input ng-model="newUser.phone" placeholder="phone"></input><br>
                <textarea ng-model="newUser.adminNotes" placeholder="Notes"></textarea><br>
                <button ng-click="addUser(newUser)">Add new user</button>
            </div> -->
        </div>
    </div>

    <div class="users_cards_container">

        <div ng-repeat="user in users | filter: userSearch | filter: {campus: cohortFilter.name} | filter: cohortSearch" class="users_cards white_background_color">
            <div class="users_cards_head"><div><p>{{user.firstName}} {{user.lastName}} - {{user.role}} {{user.campus}}</p></div><div><i ng-click="editUser = !editUser;" class="fa fa-pencil"></i><i ng-click="deleteModal = !deleteModal" class="fa fa-times"></i></div></div>

            <div class="user_short_info" ng-hide="editUser">
                      <div class="basic_info">
                        <span class="bold">Basic info</span><br>
                        Name: {{user.firstName}} {{user.lastName}}<br>
                        Age: {{user.age}}<br>
                        Home City/State: {{user.currentAddress.city}}, {{user.currentAddress.state}}<br><br>
                        <i ng-hide="showInfo" ng-click="showInfo = !showInfo" class="fa fa-caret-down">&nbsp;<span class="caret">Expand</span></i>
                        <!-- <i ng-show="showInfo" ng-click="showInfo = !showInfo" class="fa fa-caret-up">&nbsp;<span class="caret">Hide</span></i> -->
                      </div>
                      <div class="basic_info">
                        <span class="bold">Cohort</span><br>
                        <span ng-if="user.cohortID.length">Cohort(s): <span ng-repeat="cohort in user.cohortID">{{cohort}} </span><br></span>
                        <span ng-if="!user.cohortID.length" class="bold_warning">User needs a cohortID!<br></span>
                        Campus: {{user.campus}}<br>
                      </div>
                      <div class="basic_info">
                        <span class="bold">Housing:</span><br>
                        <span ng-if="!user.contractSigned" class="bold_warning">Contract not signed!<br></span>
                        <span ng-if="!user.deposit.depositPaid" class="bold_warning">Deposit not paid!<br></span>
                        <span ng-if="user.inHousing" class="bold_all_good">{{user.firstName}} is housed.<br></span>
                        <span ng-if="!user.inHousing" class="bold_warning">{{user.firstName}} is homeless!<br></span>

                        <span ng-if="user.singleRoom.wantsSingleRoom">Private room requested: {{user.singleRoom.wantsSingleRoom}}<br>
                        </span>
                        <span ng-if="user.singleRoom.hasSingleRoom">
                          Has private room: {{user.singleRoom.hasSingleRoom}}<br>
                        </span>
                        Gender: {{user.gender}}<br>
                      </div>

                    </div>
                <div class="user_full_info" ng-show="showInfo" ng-click="showInfo = !showInfo">
                  <div class="basic_info">
                        <span class="bold">Contact</span><br>
                        Email: {{user.email}}<br>
                        Phone: {{user.phone}}<br><br>
                      </div>
                      <div class="basic_info">
                        <span class="bold">Details</span><br>
                        Role: {{user.role}}<br>
                        <span ng-if="user.deposit.depositPaid">Deposit: ${{user.deposit.depositAmount}} paid on {{user.deposit.depositPaidDateConverted}}<br></span>
                        <span ng-if="user.deposit.depositReturned">Deposit returned: ${{user.deposit.depositReturnedAmount}} returned on {{user.deposit.depositReturnedDateConverted}}<br></span>
                        <span ng-if="user.backgroundCheck">Background check on file.<br></span>
                        <span ng-if="user.role === 'admin'">
                        Campus Access: <span ng-repeat="access in user.adminAccess">{{access}}</span><br>
                        Default Campus: {{user.adminDefaultView}}<br><br>
                        </span>
                      </div>
                      <div class="basic_info">
                        <span ng-if="user.rent.isRenter">
                          <span class="bold">Rent</span><br>
                          Rent Amount: {{user.rent.rentPrice}}<br>
                          <span ng-if="user.rent.rentPaid" ng-repeat="rent in user.rent.rentPaidConverted">Rent Paid: {{rent}}<br></span>
                        </span>

                        <!-- Check-in Date: {{user.checkInOut.checkInDate}}<br>
                        Check-in Status: {{user.checkInOut.checkInStatus}}<br>
                        Check-out Date: {{user.checkInOut.checkOutDate}}<br>
                        Check-out Status: {{user.checkInOut.checkOutStatus}}<br><br> -->
                      </div>
                      <div class="basic_info">
                        <span class="bold">Vehicles</span><br>
                        <span ng-if="user.licenseOnFile">Driver's License is on file.<br></span>
                        <span ng-if="!user.licenseOnFile">No driver's license on file<br></span>
                        <span ng-if="user.car">Vehicle: {{user.car.make}} {{user.car.model}} {{user.car.year}} {{user.car.license}}<br><br></span>
                        <span ng-if="!user.car">No car on file<br></span>
                      </div>
                </div>

                <div ng-show="showInfo" class="admin_notes_section" id="admin_notes" ng-click="showInfo = !showInfo" ng-if="user.adminNotes">
                  <span class="bold">Admin Notes</span><br>{{user.adminNotes}}
                </div>

                <div>
                    <i id="hide_caret" ng-show="showInfo" ng-click="showInfo = !showInfo" class="fa fa-caret-up">&nbsp;<span class="caret">Hide</span></i>
                </div>

                <!-- TODO: fix this mess -->
            <div class="users_edit" ng-show="editUser">
                <div class="user_edit_container">
                    <div class="user_edit_left">
                        <p>Email&nbsp;&nbsp;</p><input ng-model="user.email" placeholder="email"></input><br>
                        <p>Phone&nbsp;&nbsp;</p><input ng-model="user.phone" placeholder="phone"></input><br>
                        <p>Admin Access&nbsp;&nbsp;</p><input ng-model="user.adminAccess" placeholder="Admin Access"></input><br>
                        <p>Admin Default View&nbsp;&nbsp;</p><input ng-model="user.adminDefaultView" placeholder="Admin Default"></input><br>
                        <p>Campus&nbsp;&nbsp;</p><input ng-model="user.campus" placeholder="campus"></input><br>

                        <!-- <p>1st Cohort ID&nbsp;&nbsp;</p><input ng-model="user.cohortID[0]" id="cohortEdit" placeholder="cohort"></input>
                        <button type="button" ng-click="cohort2Id=true">Add 2nd Id</button><br>
                        <div ng-show="cohort2Id"><p>2nd Cohort ID&nbsp;&nbsp;</p><input ng-model="user.cohortID[1]" id="cohortEdit" placeholder="cohort"></input>
                        <button type="button" ng-click="cohort3Id=true">Add 3rd Id</button></div>
                        <div ng-show="cohort3Id"><p>3rd Cohort ID&nbsp;&nbsp;</p><input ng-model="user.cohortID[2]" id="cohortEdit" placeholder="cohort"></input></div> -->

                        <p>1st Cohort ID&nbsp;&nbsp;</p><input ng-model="user.cohortID[0]" placeholder="cohort"></input>
                        <p>2nd Cohort ID&nbsp;&nbsp;</p><input ng-model="user.cohortID[1]" placeholder="cohort"></input>
                        <p>3rd Cohort ID&nbsp;&nbsp;</p><input ng-model="user.cohortID[2]" placeholder="cohort"></input>

                        <p>Devmtn ID&nbsp;&nbsp;</p><input ng-model="user.devmtnID" placeholder="DevMtn ID"></input></br>
                        <p>Role&nbsp;&nbsp;</p><input ng-model="user.role" placeholder="role"></input><br>
                        <p>Housing Status&nbsp;&nbsp;</p><input ng-model="user.inHousing" placeholder="housing"></input><br>
                        <p>Renter Status&nbsp;&nbsp;</p><input ng-model="user.rent.isRenter" placeholder="pays rent"></input><br>
                        <p>Rent Amount&nbsp;&nbsp;</p><input ng-model="user.rent.rentPrice" placeholder="rent amount"></input><br>
                        <p>Rent Paid&nbsp;&nbsp;</p><input ng-model="user.rent.rentPaid" placeholder="rent paid"></input></br>
                    </div>

                    <div class="user_edit_right"
                        <p>Private Room Requested&nbsp;&nbsp;</p><input ng-model="user.singleRoom.wantsSingleRoom" placeholder="private room requested"></input></br>
                        <p>Private Room Occupant&nbsp;&nbsp;</p><input ng-model="user.singleRoom.hasSingleRoom" placeholder="private room occupant"></input><br>
                        <p>Checkin Date&nbsp;&nbsp;</p><input ng-model="user.checkInOut.checkInDate" placeholder="check in date"></input></br>
                        <p>Checkin Status&nbsp;&nbsp;</p><input ng-model="user.checkInOut.checkInStatus" placeholder="check in status"></input></br>
                        <p>Checkout Date&nbsp;&nbsp;</p><input ng-model="user.checkInOut.checkOutDate" placeholder="check out date"></input></br>
                        <p>Checkout Status&nbsp;&nbsp;</p><input ng-model="user.checkInOut.checkOutStatus" placeholder="check out status"></input></br>
                        <p>Vehicle Make&nbsp;&nbsp;</p><input ng-model="user.car.make" placeholder="vehicle make"></input></br>
                        <p>Vehicle Model&nbsp;&nbsp;</p><input ng-model="user.car.model" placeholder="vehicle model"></input></br>
                        <p>Vehicle Year&nbsp;&nbsp;</p><input ng-model="user.car.year" placeholder="vehicle year"></input></br>
                        <p>Vehicle License&nbsp;&nbsp;</p><input ng-model="user.car.license" placeholder="vehicle license"></input></br>
                        <p>Admin Notes&nbsp;&nbsp;</p><textarea ng-model="user.adminNotes" placeholder="Notes"></textarea><br>
                        <button ng-click="updateUser(user)">Submit Changes</button>
                    </div>
                </div>
            </div>
            <div class="users_edit" ng-show="deleteModal">
                <p class="bold">Are you sure you want to delete this user from the database?</p>
                <button ng-click="deleteUser(user)">Delete User</button>
            </div>
        </div>
    </div>
</div> <!--main-wrapper closing div -->
