<side-bar-nav></side-bar-nav>
<admin-mobile-side-bar-nav></admin-mobile-side-bar-nav>
<user-info></user-info>

<div class="main-wrapper">

    <div class="users_cards_container">
        <div class="users_cards white_background_color">
            <div class="users_cards_head"><div><p>Search Users</p></div></div>
            <!--Search by name-->
            <div class="users_cards_new">
                <input ng-model="userSearch" placeholder="Search by Name"></input>
            </div>
            <!--Search by cohort-->
            <div>
                <input ng-model="cohortSearch" placeholder="Search by Cohort"></input>
            </div>
            <!--Filter by campus-->
            <div>
                <select ng-model="cohortFilter" ng-options="cohort as cohort.name for cohort in allCohorts">
                    <option ng-repeat="cohort in allCohorts"></option>
                </select>
            </div>
          </div>
    </div>

    <div class="users_cards_container">

        <div ng-repeat="user in users | filter: userSearch | filter: {campus: cohortFilter.name} | filter: cohortSearch" class="users_cards white_background_color">
            <div class="users_cards_head">
              <div>{{user.firstName}} {{user.lastName}}</div>
              <div>
                <i ng-click="editUser = !editUser;" class="fa fa-pencil"></i>
                <i ng-click="deleteModal = !deleteModal" class="fa fa-times"></i></div>
            </div>

            <div class="user_short_info" ng-hide="editUser">
                      <div class="basic_info">
                        <span class="bold">Basic info</span><br>
                        Name: {{user.firstName}} {{user.lastName}}<br>
                        Age: {{user.age}}<br>
                        Home City/State: {{user.currentAddress.city}}, {{user.currentAddress.state}}<br><br>
                        <i ng-click="showInfo = !showInfo" ng-hide="showInfo" class="fa fa-caret-down">&nbsp;<span class="caret">Expand</span></i>
                      </div>
                      <div class="basic_info">
                        <span class="bold">Cohort</span><br>
                        <span ng-if="user.cohortID.length">Cohort(s): <span ng-repeat="cohort in user.cohortID">{{cohort}} </span><br></span>
                        <span ng-if="!user.cohortID.length" class="bold_warning">User needs a cohortID!<br></span>
                        Campus: {{user.campus}}<br>
                      </div>
                      <div class="basic_info">
                        <span class="bold">Housing:</span><br>
                        <span ng-if="!user.contractSigned" class="bold_warning">Contract not signed!<br></span>
                        <span ng-if="!user.deposit.depositPaid" class="bold_warning">Deposit not paid!<br></span>
                        <span ng-if="user.inHousing" class="bold_all_good">{{user.firstName}} is housed.<br></span>
                        <span ng-if="!user.inHousing" class="bold_warning">{{user.firstName}} is homeless!<br></span>

                        <span ng-if="user.singleRoom.wantsSingleRoom">{{user.firstName}} wants a private room.<br>
                        </span>
                        <span ng-if="user.singleRoom.hasSingleRoom">
                          Has private room: {{user.singleRoom.hasSingleRoom}}<br>
                        </span>
                        Gender: {{user.gender}}<br>
                      </div>

                    </div>
                <div class="user_full_info" ng-show="showInfo" >
                  <div class="basic_info">
                        <span class="bold">Contact</span><br>
                        Email: {{user.email}}<br>
                        Phone: {{user.phone}}<br><br>
                      </div>
                      <div class="basic_info">
                        <span class="bold">Details</span><br>
                        Role: {{user.role}}<br>
                        <span ng-if="user.deposit.depositPaid">Deposit: ${{user.deposit.depositAmount}} paid on {{user.deposit.depositPaidDateConverted}}<br></span>
                        <span ng-if="user.deposit.depositReturned">Deposit returned: ${{user.deposit.depositReturnedAmount}} returned on {{user.deposit.depositReturnedDateConverted}}<br></span>
                        <span ng-if="user.backgroundCheck">Background check on file.<br></span>
                        <span ng-if="user.role === 'admin'">
                        Campus Access: <span ng-repeat="access in user.adminAccess">{{access}}</span><br>
                        Default Campus: {{user.adminDefaultView}}<br><br>
                        </span>
                      </div>
                      <div class="basic_info" ng-if="user.rent.isRenter">
                        <span ng-if="user.rent.isRenter">
                          <span class="bold">Rent</span><br>
                          Rent Amount: ${{user.rent.rentPrice}}<br>
                          <span ng-if="user.rent.rentPaid" ng-repeat="rent in user.rent.rentPaidConverted">Rent Paid: {{rent}}<br></span>
                        </span>

                      </div>
                      <div class="basic_info">
                        <span class="bold">Vehicles</span><br>
                        <span ng-if="user.licenseOnFile">Driver's License is on file.<br></span>
                        <span ng-if="!user.licenseOnFile">No driver's license on file<br></span>
                        <span ng-if="user.car">Vehicle: {{user.car.make}} {{user.car.model}} {{user.car.year}} {{user.car.license}}<br><br></span>
                        <span ng-if="!user.car">No car on file<br></span>
                      </div>
                </div>

                <div ng-show="showInfo" class="admin_notes_section" id="admin_notes" ng-click="showInfo = !showInfo" ng-if="user.adminNotes">
                  <span class="bold">Admin Notes</span><br>{{user.adminNotes}}
                </div>

                <div>
                    <i ng-click="showInfo = !showInfo"id="hide_caret" ng-show="showInfo" class="fa fa-caret-up">&nbsp;<span class="caret">Hide</span></i>
                </div>


            <div class="users_edit" ng-show="editUser">
                <div class="user_edit_container">
                    <div>
                        <p>Email&nbsp;&nbsp;</p><input ng-model="user.email" placeholder="email"></input>
                        <br>
                        <br>
                        <p>Phone&nbsp;&nbsp;</p><input ng-model="user.phone" placeholder="phone"></input>
                        <br>
                        <br>
                        <p>Admin Campus View</p>
                        <select ng-model="user.adminDefaultView" ng-options="cohort.name as cohort.name for cohort in allCohorts"></select>
                        <br>
                        <br>
                        <p>Users Campus</p>
                        <select ng-model="user.campus" ng-options="cohort.name as cohort.name for cohort in allCohorts"></select>
                        <br>
                        <br>
                        <p>1st Cohort ID&nbsp;&nbsp;</p><input ng-model="user.cohortID[0]" placeholder="cohort"></input>
                        <br>
                        <br>
                        <p>2nd Cohort ID&nbsp;&nbsp;</p><input ng-model="user.cohortID[1]" placeholder="cohort"></input>
                        <br>
                        <br>
                        <p>3rd Cohort ID&nbsp;&nbsp;</p><input ng-model="user.cohortID[2]" placeholder="cohort"></input>
                    </div>
                    <div>
                        <p>Role</p>
                        <select ng-model="user.role">
                            <option value="student">Student</option>
                            <option value="mentor">Mentor</option>
                            <option value="graduate">Graduate</option>
                            <option value="admin">Admin</option>
                        </select>
                        <br>
                        <br>
                        <p>Renter&nbsp;&nbsp;</p><input type="radio" ng-value="true" ng-model="user.rent.isRenter">Yes</input>&nbsp;&nbsp;<input type="radio" ng-value="false" ng-model="user.rent.isRenter">No</input>
                        <br>
                        <br>
                        <p>Rent Amount&nbsp;&nbsp;</p><input ng-model="user.rent.rentPrice" placeholder="rent amount"></input>
                        <br>
                        <br>
                        <p>Rent Paid&nbsp;&nbsp;</p><button ng-click="paidRent(user)">Paid</button>
                        <br>
                        <br>
                        <p>Deposit Paid&nbsp;&nbsp;</p><input type="radio" ng-value="true" ng-model="user.deposit.depositPaid">Yes</input>&nbsp;&nbsp;<input type="radio" ng-value="false" ng-model="user.deposit.depositPaid">No</input>
                        <br>
                        <br>
                        <p>Contract Signed&nbsp;&nbsp;</p><input type="radio" ng-value="true" ng-model="user.contractSigned">Yes</input>&nbsp;&nbsp;<input type="radio" ng-value="false" ng-model="user.contractSigned">No</input>
                        <br>
                        <br>
                        <p>Private Room Requested&nbsp;&nbsp;</p><input type="radio" ng-value="true" ng-model="user.singleRoom.wantsSingleRoom">Yes</input>&nbsp;&nbsp;<input type="radio" ng-value="false" ng-model="user.singleRoom.wantsSingleRoom">No</input>
                    </div>
                    <div>
                        <p>Vehicle Make&nbsp;&nbsp;</p><input ng-model="user.car.make" placeholder="vehicle make"></input>
                        <br>
                        <br>
                        <p>Vehicle Model&nbsp;&nbsp;</p><input ng-model="user.car.model" placeholder="vehicle model"></input>
                        <br>
                        <br>
                        <p>Vehicle Year&nbsp;&nbsp;</p><input ng-model="user.car.year" placeholder="vehicle year"></input>
                        <br>
                        <br>
                        <p>Vehicle License&nbsp;&nbsp;</p><input ng-model="user.car.license" placeholder="vehicle license"></input>
                        <br>
                        <br>
                        <p>Admin Notes&nbsp;&nbsp;</p><textarea ng-model="user.adminNotes" placeholder="Notes"></textarea>
                        <br>
                        <br>
                        <button ng-click="updateUser(user)">Submit Changes</button>
                    </div>
                </div>
            </div>
            <div class="users_edit" ng-show="deleteModal">
                <p class="bold">Are you sure you want to delete this user from the database?</p>
                <button ng-click="deleteUser(user)">Delete User</button>
            </div>
        </div>
    </div>
</div> <!--main-wrapper closing div -->
