.users_cards_container
    display: flex
    flex-direction: column
    width: 900px
    margin: auto

.users_cards
    display: flex
    flex-direction: column
    justify-content: center
    border-left: 1px solid #898989
    border-bottom: 1px solid #898989
    border-right: 1px solid #898989
    padding: 10px
    margin: 10px
    border-radius: 8px
    font-size: 16px
    box-shadow: 0px 3px 6px #888888

.users_cards_head
    display: flex
    justify-content: space-between
    padding-bottom: 10px
    padding-top: 10px
    padding-left: 10px
    padding-right: 10px
    margin-bottom: 10px
    margin-top: -10px
    margin-left: -10px
    margin-right: -10px
    border-top-right-radius: 8px
    border-top-left-radius: 8px
    color: white
    text-shadow: 0px 1px black
    background: #418AD0
    font-size: 20px

.users_cards_head i
    padding-left: 10px


.users_cards_new
    // margin-top: 20px

.users_edit
    // margin-top: 20px

.user_short_info
    display: flex
    flex-direction: row
    justify-content: space-around
    padding-bottom: 20px

.user_full_info
  display: flex
  flex-direction: row
  justify-content: space-around
  padding-bottom: 20px

.admin_notes_section
  padding-left: 30px


.basic_info

.bold_warning
  font-family: bold
  color: #8f0000

.bold_all_good
  font-family: bold
  color: #15781f

.caret
    font-family: Proxima

#hide_caret
    padding-left: 30px
    padding-top: 10px
