<student-side-bar-nav></student-side-bar-nav>
<user-info></user-info>

<div class="student-main-wrapper">

  <div class="student_header default_cards_container">
		<div class="default_repeat_cards">
			<div class="default_cards_head">
				<h1 id="student_header_text">Student Check-In Page </h1>
			</div>
			<div ng-repeat="check in allCheckins" class="student_text default_cards_text">
                <p class="bold">Your current check-in information:</p>
                Start: {{check.checkinStart}}<br>
                End: {{check.checkinEnd}}<br>
                Appointment length: {{check.slotInterval}}<br>
                Campus: {{check.campus}}<br>
                Cohort: {{check.cohort}}<br>
			</div>
		</div>
	</div>


  <div class="cards_list_container">
     <div class="current_housing_cards_container" ng-repeat="check in allCheckins">
         <div class="current_housing_repeat_cards" ng-repeat="slot in check.checkinAppointments">
             <div class="current_housing_cards_head" >
                 <div>
                     <p>{{slot.timeSlot}}</p>
                 </div>
             </div>
             <p class="current_housing_cards_text">
               {{slot.user.firstName + " " + slot.user.lastName}} - {{slot.unit}} Room:{{slot.room}}&nbsp;&nbsp;
               <button type="button" name="button" ng-hide="slot.user" ng-if="hasSlot" ng-click="updateCheckins(slot, check)">pick</button>
             </p>
         </div>
     </div>
</div>

</div> <!--main-wrapper closing div -->
