<student-side-bar-nav></student-side-bar-nav>
<mobile-side-bar-nav></mobile-side-bar-nav>
<user-info></user-info>

<div class="student-main-wrapper">

  <div class="checkin_cards_container">
		<div class="checkin_repeat_cards">
			<div class="checkin_cards_head">
				<h1 id="student_header_text">Housing Check-In Portal</h1>
			</div>
			<div class="checkin_card_instructions_text">
                <p>Please select from the available time slots for your housing check-in.</p>
                <p>If you have any questions please contact Bri at <a href="mailto:bri@devmounta.in" target="_top">bri@devmounta.in</a></p>
			</div>
		</div>
	</div>


  <div class="checkin_list_container">
     <div class="checkin_cards_container" ng-repeat="check in allCheckins">
         <div class="checkin_repeat_cards" ng-repeat="slot in check.checkinAppointments">
             <div class="checkin_cards_head" >
                 <div>
                     <p>{{check.checkinStart}} at {{slot.timeSlot}}</p>
                 </div>
             </div>
             <p class="checkin_cards_text">{{slot.user.firstName + " " + slot.user.lastName}}&nbsp;&nbsp;
               <button type="button" name="button" ng-hide="slot.user" ng-if="hasSlot" ng-click="selectCheckin(slot, check)">Select</button>
               <!-- <button ng-click="deselectCheckin(slot)">Deselect</button> -->
             </p>
         </div>
     </div>
</div>

</div> <!--main-wrapper closing div -->
