<side-bar-nav></side-bar-nav>
<admin-mobile-side-bar-nav></admin-mobile-side-bar-nav>
<user-info></user-info>

<div class="main-wrapper">

<div class="pending_container">

    <div class="nothing_pending" ng-hide="pendingUsers.length > 0 || pendingWO.length > 0"><p>Nothing pending</p><p>Have a great day, {{user.firstName}}!</p></div>

    <div ng-show="pendingUsers.length > 0" class="pending_users_container">
        <div class="pending_header"><p>Pending Users</p></div>
        <div ng-repeat="user in pendingUsers | orderByCampus:'campus'" class="pending_content">
            <p><span class="bold">{{user.firstName}} {{user.lastName}}</span>&nbsp;&mdash;&nbsp;{{user.campus}}&nbsp;<i ng-click="toggleUpdate = !toggleUpdate" class="fa fa-plus"></i></p>
            <div class="pending_edit_user" ng-show="toggleUpdate">
                <textarea ng-model="user.cohortId" placeholder="Add a Cohort"></textarea><br>
                <button ng-click="setCohortId(user._id, user.cohortId)">Set</button>
            </div>
        </div>
    </div>

    <div ng-show="pendingWO.length > 0" class="pending_workorders_container">
        <div class="pending_header"><p>Pending Workorders</p></div>
        <div ng-repeat="wo in pendingWO | orderByCampus: 'campus'" class="pending_content">
            <p><span class="bold">{{wo.unit}}</span>&nbsp;&mdash;&nbsp;{{wo.problemType}}</p>
            <p>{{wo.description}}</p>
            {{wo.submittedBy}}
            <select ng-model="workorder.status" name="type" required>
                <option value="" selected>Select</option>
                <option value="Received">Recieved</option>
                <option value="In Progress">In Progress</option>
                <option value="Completed">Completed</option>
            </select><br>
            <button ng-click="setWOStatus(wo._id, workorder.status)">Set</button>
            <hr ng-show="pendingWO.length > 1" style="width: 90%">
        </div>
    </div>

</div>  <!--closing tag for pending_container -->

</div> <!--main-wrapper closing div -->
