<side-bar-nav></side-bar-nav>
<!-- <user-info></user-info> -->

<div class="main-wrapper">

    <div class="home_text_container">
        <p>HOME</p>
    </div>

    <div class="cards_list_container">
        <div class="admin_home_cards_container">
            <div class="admin_home_repeat_cards">
                <div class="admin_home_cards_head">
                    <div>
                        <h2 class="bold">Pending</h2>
                    </div>
                </div>
                <div ng-repeat="user in pendingUsers">
                    <p class="current_housing_cards_text">
                        {{user.firstName + " " + user.lastName}}
                    </p>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    <!-- <button ng-click="getPendingUsers()" type="button" name="button">click me</button> -->

    {{user.firstName}}
</div>
<!--main-wrapper closing div -->
