.modal-close-button
  background: linear-gradient(white, red)

.modal-fade-in
  width: 800px
  height: 1000px
  position: relative
  background: linear-gradient(yellow, grey)
  display: block
  border: 2px dotted white
  z-index: 9000

.modal-dialog
  /*position: relative;*/
  right: 600px
  top: 0
  z-index: 9000
