.user_info_modal
  color: black

.modal-close-button
  background: linear-gradient(white, red)

.user_info_button
  background: #418AD0
  color: white

.showCreate
    margin-left: 20px
    margin-top: 20px
    margin-bottom: 20px

.checkin_modal_fade_in
  // width: 320px
  // height: 475px
  width: 100vw
  height: 100vh
  top: 0
  bottom: 0
  left: -20px
  right: 0
  position: absolute
  background: rgba(#030303, 0.72)
  color: white
  display: block
  border: 2px dotted black
  z-index: 9

// .check_user_modal_text
//     margin-top: 200px

.checkin_modal_create_header
  padding-bottom: 10px

.check_users_edit
  // margin-top: 20px

.check_user_edit_container
  width: 300px
  display: flex
  justify-content: flex-start

.check_user_edit_left
  // margin-top: 10%
  // margin-left: 30%
  margin: auto
  input
    background: #3C3C3C
    color: white
    border: none
    text-align: center

.check_user_edit_right
  margin: 11px 0 0 -60px

.checkin_create_block
    text-align: center
    border: 1px solid
    margin-left: 20px
    margin-right: 20px
    // border-radius: 8px
    // max-width: 475px
    // margin: auto
    @media(max-width: 768px)
        margin-left: 20px
        margin-right: 20px

.checkin_create_block_header
    text-align: center
    font-size: 30px
    // padding-top: 10px
    // padding-bottom: 10px
    background: #418AD0
    color: white

    text-shadow: 0px 1px black
    // border-top-left-radius: 8px
    // border-top-right-radius: 8px

    @media(max-width: 768px)
        font-size: 30px

.checkin_create_block input
    font-family: Proxima

.checkin_create_block_content
    padding-top: 20px
    padding-bottom: 20px
    // border-bottom-left-radius: 8px
    // border-bottom-right-radius: 8px
    min-height: 273px
    @media(min-width: 767px)
        display: flex
        justify-content: space-around
        min-height: 0

#checkin_campus_select
    margin-top: 3px

#create_checkin
    // margin-top: 15px

.checkin_timeslots_container
    margin-top: 20px
    margin-left: 20px
    margin-right: 20px
    margin-bottom: 20px
    display: flex
    // justify-content: center
    justify-content: flex-start
    min-height: 500px
    background: white
    border: 1px solid
    // border-radius: 8px
    @media(max-width: 769px)
        flex-direction: column

.checkin_timeslots_repeat
    // border: 1px solid
    // border-radius: 8px
    margin: 10px
    margin-left: 10px
    margin-right: 10px
    // min-height: 500px
    // @media(max-width: 1100px)
    //     font-size: 10px

.checkin_timeslots_repeat p
    padding: 10px

.checkin_timeslots_repeat hr
    width: 90%

.checkin_create_header
    display: flex
    justify-content: space-between
    width: 100%
    text-align: center
    font-size: 24px
    padding-top: 10px
    padding-bottom: 10px
    padding-left: 10px
    padding-right: 10px
<<<<<<< HEAD
    // background: #418AD0
    // color: white
    // text-shadow: 0px 1px black
    // border-top-left-radius: 8px
    // border-top-right-radius: 8px
=======
    background: #418AD0
    color: white
    border-top-left-radius: 8px
    border-top-right-radius: 8px
>>>>>>> master
    @media (max-width: 768px)
        font-size: 18px

.fa-times
    padding: 5px

.checkin_timeslots
    padding: 10px
