<side-bar-nav></side-bar-nav>
<admin-mobile-side-bar-nav></admin-mobile-side-bar-nav>
<user-info></user-info>

<div class="main-wrapper">


<!-- CREATE CHECK IN -->
  <p>
    check in options
  </p>
  <input type="datetime-local" name="name" ng-model="checkin.start">start date and time</input><br>
  <input type="datetime-local" name="name" ng-model="checkin.end">end date and time</input><br>
  <input type="number" name="name" ng-model="checkin.interval">length of each appointment in minutes</input><br>
  <input ng-model="checkin.cohort" placeholder="cohort"></input><br>
  <select ng-model="checkin.campus" /> //fix default value to not be blank using ng-options
  <option value="Provo">Provo</option>
  <option value="SLC">SLC</option>
  <option value="Dallas">Dallas</option>
 </select><br>
  <button type="button" name="button" ng-click="createCheckin(checkin)">create checkin</button>


<!-- VIEW EXISTING CHECK IN SCHEUDLE -->

<div ng-repeat="check in allCheckins">
Start: {{check.checkinStart}}<br>
End: {{check.checkinEnd}}<br>
Appointment length: {{check.slotInterval}}<br>
Campus: {{check.campus}}<br>
Cohort: {{check.cohort}}<br>

<br>

</div>

<div class="cards_list_container">

   <div class="current_housing_cards_container" ng-repeat="check in allCheckins">
       <div class="current_housing_repeat_cards" ng-repeat="slot in check.checkinAppointments">
           <div class="current_housing_cards_head" >
               <div>
                   <p>{{slot.timeSlot}}</p>
               </div>
           </div>
           <p class="current_housing_cards_text" >
             {{slot.user.firstName + " " + slot.user.lastName}} - {{slot.unit}} Room:{{slot.room}}
           </p>
           <div class="user_info_modal" ng-init="showUserModal=false">
            <button class="user_info_button" ng-click="showUserModal = !showUserModal">User Info</button>
            <div class="modal-fade-in" aria-hidden="false" ng-show="showUserModal">
               <div class="modal-dialog">
                   <div class="modal-content">
                     <div class="user_update_modal">
                       <h2>{{slot.user.firstName + " " + slot.user.lastName}}</h2>
                       <div class="users_cards_head"><div><p>User</p></div><div><i ng-click="editUser = !editUser;" class="fa fa-pencil"></i><i ng-click="deleteModal = !deleteModal" class="fa fa-times"></i></div></div>

                       <div class="user_edit_container" ng-hide="editUser">
                           <div class="user_edit_left"
                               <p class="users_cards_text">
                                   <span class="bold">Basic info</span><br>
                                   Name: {{slot.user.firstName}} {{slot.user.lastName}}<br>
                                   Age: {{slot.user.age}}<br>
                                   Gender: {{slot.user.gender}}<br>
                                   Email: {{slot.user.email}}<br>
                                   Phone: {{slot.user.phone}}<br>
                                   Home City/State: {{slot.user.currentAddress.city}}, {{slot.user.currentAddress.state}}<br><br>
                                   <span class="bold">Admin</span><br>
                                   Admin Access: {{slot.user.adminAccess}}<br>
                                   Admin Default: {{slot.user.adminDefaultView}}<br><br>
                                   <span class="bold">Cohort</span><br>
                                   Campus: {{slot.user.campus}}<br>
                                   Cohort(s): {{slot.user.cohortID}}<br>
                                   DevMtnID: {{slot.user.devmtnID}}<br>
                                   Role: {{slot.user.role}}<br><br>
                           </div>
                           <div class="user_edit_right">
                                   <span class="bold">Housing</span><br>
                                   In Housing: {{slot.user.inHousing}}<br>
                                   Rent Status: {{slot.user.rent.isRenter}}<br>
                                   Rent Amount: {{slot.user.rent.rentPrice}}<br>
                                   Rent Paid: {{slot.user.rent.rentPaid}}<br>
                                   Private Room Requested: {{slot.user.singleRoom.wantsSingleRoom}}<br>
                                   Private Room Occupant: {{slot.user.singleRoom.hasSingleRoom}}<br>
                                   Checkin Date: {{slot.user.checkInOut.checkInDate}}<br>
                                   Checkin Status: {{slot.user.checkInOut.checkInStatus}}<br>
                                   Checkout Date: {{slot.user.checkInOut.checkOutDate}}<br>
                                   Checkout Status: {{slot.user.checkInOut.checkOutStatus}}<br><br>
                                   <span class="bold">Vehicles</span><br>
                                   Drivers License on File: {{slot.user.licenseOnFile}}<br>
                                   Vehicle: {{slot.user.car.make}} {{slot.user.car.model}} {{slot.user.car.year}}  {{slot.user.car.license}}<br><br>
                                   <span class="bold">User Notes</span><br>
                                   Notes: {{slot.user.adminNotes}}
                               </p>
                           </div>
                       </div>

                       <div class="users_edit" ng-show="editUser">
                           <div class="user_edit_container">
                               <div class="user_edit_left">
                                   <p>Email&nbsp;&nbsp;</p><input ng-model="user.email" placeholder="email"></input><br>
                                   <p>Phone&nbsp;&nbsp;</p><input ng-model="user.phone" placeholder="phone"></input><br>
                                   <p>Admin Access&nbsp;&nbsp;</p><input ng-model="user.adminAccess" placeholder="Admin Access"></input><br>
                                   <p>Admin Default View&nbsp;&nbsp;</p><input ng-model="user.adminDefaultView" placeholder="Admin Default"></input><br>
                                   <p>Campus&nbsp;&nbsp;</p><input ng-model="user.campus" placeholder="campus"></input><br>

                                   <!-- <p>1st Cohort ID&nbsp;&nbsp;</p><input ng-model="user.cohortID[0]" id="cohortEdit" placeholder="cohort"></input>
                                   <button type="button" ng-click="cohort2Id=true">Add 2nd Id</button><br>
                                   <div ng-show="cohort2Id"><p>2nd Cohort ID&nbsp;&nbsp;</p><input ng-model="user.cohortID[1]" id="cohortEdit" placeholder="cohort"></input>
                                   <button type="button" ng-click="cohort3Id=true">Add 3rd Id</button></div>
                                   <div ng-show="cohort3Id"><p>3rd Cohort ID&nbsp;&nbsp;</p><input ng-model="user.cohortID[2]" id="cohortEdit" placeholder="cohort"></input></div> -->

                                   <p>1st Cohort ID&nbsp;&nbsp;</p><input ng-model="user.cohortID[0]" placeholder="cohort"></input>
                                   <p>2nd Cohort ID&nbsp;&nbsp;</p><input ng-model="user.cohortID[1]" placeholder="cohort"></input>
                                   <p>3rd Cohort ID&nbsp;&nbsp;</p><input ng-model="user.cohortID[2]" placeholder="cohort"></input>

                                   <p>Devmtn ID&nbsp;&nbsp;</p><input ng-model="user.devmtnID" placeholder="DevMtn ID"></input></br>
                                   <p>Role&nbsp;&nbsp;</p><input ng-model="user.role" placeholder="role"></input><br>
                                   <p>Housing Status&nbsp;&nbsp;</p><input ng-model="user.inHousing" placeholder="housing"></input><br>
                                   <p>Renter Status&nbsp;&nbsp;</p><input ng-model="user.rent.isRenter" placeholder="pays rent"></input><br>
                                   <p>Rent Amount&nbsp;&nbsp;</p><input ng-model="user.rent.rentPrice" placeholder="rent amount"></input><br>
                                   <p>Rent Paid&nbsp;&nbsp;</p><input ng-model="user.rent.rentPaid" placeholder="rent paid"></input></br>
                               </div>

                               <div class="user_edit_right"
                                   <p>Private Room Requested&nbsp;&nbsp;</p><input ng-model="user.singleRoom.wantsSingleRoom" placeholder="private room requested"></input></br>
                                   <p>Private Room Occupant&nbsp;&nbsp;</p><input ng-model="user.singleRoom.hasSingleRoom" placeholder="private room occupant"></input><br>
                                   <p>Checkin Date&nbsp;&nbsp;</p><input ng-model="user.checkInOut.checkInDate" placeholder="check in date"></input></br>
                                   <p>Checkin Status&nbsp;&nbsp;</p><input ng-model="user.checkInOut.checkInStatus" placeholder="check in status"></input></br>
                                   <p>Checkout Date&nbsp;&nbsp;</p><input ng-model="user.checkInOut.checkOutDate" placeholder="check out date"></input></br>
                                   <p>Checkout Status&nbsp;&nbsp;</p><input ng-model="user.checkInOut.checkOutStatus" placeholder="check out status"></input></br>
                                   <p>Vehicle Make&nbsp;&nbsp;</p><input ng-model="user.car.make" placeholder="vehicle make"></input></br>
                                   <p>Vehicle Model&nbsp;&nbsp;</p><input ng-model="user.car.model" placeholder="vehicle model"></input></br>
                                   <p>Vehicle Year&nbsp;&nbsp;</p><input ng-model="user.car.year" placeholder="vehicle year"></input></br>
                                   <p>Vehicle License&nbsp;&nbsp;</p><input ng-model="user.car.license" placeholder="vehicle license"></input></br>
                                   <p>Admin Notes&nbsp;&nbsp;</p><textarea ng-model="user.adminNotes" placeholder="Notes"></textarea><br>
                                   <button ng-click="updateUser(user)">Submit Changes</button>
                               </div>
                           </div>
                       </div>

                     </div>
                       <div class="modal-footer">
                         <button class="update_user_button" type="button" ng-click="user_check_Update(groupName, groupDescription, group._id)">Update User</button>
                         <br>
                         <br>
                         <button type="button" class="modal-close-button" ng-click="showUserModal=false">Close</button>
                       </div>
                   </div>
               </div>
           </div>
          </div>
       </div>
   </div>






</div> <!--main-wrapper closing div -->
