.side-bar-container {
	position: fixed;
	width: 220px;
	height: 100%;
	background-color: lightgrey;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	overflow: auto;
}

.admin-info {
	width: 100%;
	height: 100px;
	margin-bottom: 2px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #21B7E8;
	text-align: center;	
}

.side-bar-links {
	width: 100%;
	height: 62px;
	margin-bottom: 2px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #21B7E8;
	text-align: center;
}

	.side-bar-links p {
		margin-top: 17px;
    	font-size: 30px;
    	color: white;
	}

.under-div {
	width: 220px;
	height: 650px;
	float: left;
	background-color: green;
	overflow: auto;
}

#check-in {
	background-color: purple;
}