<side-bar-nav></side-bar-nav>
<admin-mobile-side-bar-nav></admin-mobile-side-bar-nav>
<user-info></user-info>

<div class="main-wrapper">


<!-- CREATE CHECK IN -->
  <p>
    check in options
  </p>
  <input type="datetime-local" name="name" ng-model="checkin.start">start date and time</input><br>
  <input type="datetime-local" name="name" ng-model="checkin.end">end date and time</input><br>
  <input type="number" name="name" ng-model="checkin.interval">length of each appointment in minutes</input><br>
  <input ng-model="checkin.cohort" placeholder="cohort"></input><br>
  <select ng-model="checkin.campus" />
  <!-- TODO use ng-options -->
  <option value="Provo">Provo</option>
  <option value="SLC">SLC</option>
  <option value="Dallas">Dallas</option>
 </select><br>
  <button type="button" name="button" ng-click="createCheckin(checkin)">create checkin</button>


<!-- VIEW EXISTING CHECK IN SCHEUDLE -->

<div ng-repeat="check in allCheckins">
Start: {{check.checkinStart}}<br>
End: {{check.checkinEnd}}<br>
Appointment length: {{check.slotInterval}}<br>
Campus: {{check.campus}}<br>
Cohort: {{check.cohort}}<br>

<br>

</div>

<div class="cards_list_container">

   <div class="current_housing_cards_container" ng-repeat="check in allCheckins">
       <div class="current_housing_repeat_cards" ng-repeat="slot in check.checkinAppointments">
           <div class="current_housing_cards_head" >
               <div>
                   <p>{{slot.timeSlot}}</p>
               </div>
           </div>
           <p class="current_housing_cards_text" >
             {{slot.user.firstName + " " + slot.user.lastName}} - {{slot.unit}} Room:{{slot.room}}
           </p>
       </div>
   </div>






</div> <!--main-wrapper closing div -->
