<student-side-bar-nav></student-side-bar-nav>
<user-info></user-info>

<div class="student-main-wrapper">

  <div class="student_checkout_header default_cards_container">
		<div class="default_repeat_cards">
			<div class="default_cards_head">
				<h1 id="student_checkout_header_text">Student Check-Out Page </h1>
			</div>
			<div class="student_checkout_text default_cards_text">
				<h3 id="student_checkout_header_body_text">Please put stuff on here!</h3>
			</div>
		</div>
	</div>

</div> <!--main-wrapper closing div -->
