<student-side-bar-nav></student-side-bar-nav>
<user-info></user-info>

<div class="student-main-wrapper">

  <div class="student_header default_cards_container">
		<div class="default_repeat_cards">
			<div class="default_cards_head">
				<h1 id="student_header_text">Student Check-Out Page </h1>
			</div>
			<div class="student_text default_cards_text">
				<h3 id="student_header_body_text">Please put stuff on here!</h3>
			</div>
		</div>
	</div>

  <!-- VIEW EXISTING CHECK OUT SCHEUDLE -->

  <div ng-repeat="check in allCheckouts">
  Start: {{check.checkoutStart}}<br>
  End: {{check.checkoutEnd}}<br>
  Appointment length: {{check.slotInterval}}<br>
  Campus: {{check.campus}}<br>
  Cohort: {{check.cohort}}<br>

  <br>

  </div>

  <div class="cards_list_container">

    <div class="current_housing_cards_container" ng-repeat="check in allCheckouts">
        <div class="current_housing_repeat_cards" ng-repeat="slot in check.checkoutAppointments">
            <div class="current_housing_cards_head" >
                <div>
                    <p>{{slot.timeSlot}}</p>

                </div>
            </div>
            <p class="current_housing_cards_text">
              {{slot.user.firstName + " " + slot.user.lastName}} - {{slot.unit}} Room:{{slot.room}}&nbsp;&nbsp;
              <button type="button" name="button" ng-hide="slot.user" ng-if="hasSlot" ng-click="updateCheckouts(slot, check)">pick</button>
            </p>
        </div>
    </div>

    </div> <!--main-wrapper closing div -->
