<student-side-bar-nav></student-side-bar-nav>
<student-mobile-side-bar-nav></student-mobile-side-bar-nav>


<user-info></user-info>

<div class="student-main-wrapper">

    <div class="default_cards_container">
       <div class="checkin_repeat_cards white_background_color">
           <div class="checkin_cards_head">
               <h1 id="student_header_text">Housing Check-Out Portal</h1>
           </div>
           <div class="checkin_card_instructions_text">
                  <p>Please select from the available time slots for your housing check-out.</p>
                  <p>If you have any questions please contact Bri at <a href="mailto:bri@devmounta.in" target="_top">bri@devmounta.in</a></p>
           </div>
       </div>
   </div>

   <div class="checkin_timeslots_container" ng-hide="!allCheckouts.length">
       <div class="checkin_timeslots_repeat white_background_color" ng-repeat="check in allCheckouts">
           <div class="checkin_create_header"><span><strong>{{check.checkoutDay}}</strong></span></div>
           <p class="time_range"><strong>{{check.checkoutStart}}-{{check.checkoutEnd}}</strong></p>
           <br>
           <hr>
           <p><strong>Appointments</strong></p>
           <div class="checkin_timeslots" ng-repeat="slot in check.checkoutAppointments">
               <span><strong>{{slot.timeSlot}}</strong></span>&nbsp;<span>{{slot.user.firstName}} {{slot.user.lastName}}</span><button type="button" name="button" ng-hide="slot.user" ng-if="hasSlot" ng-click="updateCheckouts(slot, check)">Select</button>
           </div>
       </div>
   </div>


</div> <!--student main wrapper closing-->

</div> <!--main-wrapper closing div -->
