<side-bar-nav></side-bar-nav>
<admin-mobile-side-bar-nav></admin-mobile-side-bar-nav>
<user-info></user-info>

<!--PROVO CAMPUS-->
<div class="main-wrapper">

<div class="options_arrangement">

	<div class="default_cards_container">
	    <div class="default_repeat_cards white_background_color">
	        <div class="default_cards_head"><div><p>Provo Cohorts</p></div><div><i ng-click="edit_Provo()" class="fa fa-plus"></i></div></div>
	        <div class="options_input">
						<p>Senior</p>
	          <p>{{}}&nbsp;&nbsp;<input ng-model="allCohorts.Provo.senior"></p>
	          <p>Junior</p>
						<p>{{}}&nbsp;&nbsp;<input ng-model="allCohorts.Provo.junior"></p>
	          <p>Future</p>
						<p>{{}}&nbsp;&nbsp;<input ng-model="allCohorts.Provo.future"></p>
	          <button ng-show="editProvo" class="options-button" ng-click="saveCohorts(allCohorts)">Update</button>
	        </div>
	    </div>
	</div>

	<!--SLC CAMPUS-->
	<div class="default_cards_container">
	    <div class="default_repeat_cards white_background_color">
	        <div class="default_cards_head"><div><p>SLC Cohorts</p></div><div><i ng-click="edit_SLC()" class="fa fa-plus"></i></div></div>
	        <div class="options_input">
				<p>Senior</p>
	            <p>{{allCohorts.SLC.senior}}&nbsp;&nbsp;<input ng-model="allCohorts.SLC.senior"></p>
	            <p>Junior</p>
				<p>{{}}&nbsp;&nbsp;<input ng-model="allCohorts.SLC.junior"></p>
	            <p>Future</p>
				<p>{{}}&nbsp;&nbsp;<input ng-model="allCohorts.SLC.future"></p>
	            <button ng-show="editSLC" class="options-button" ng-click="saveCohorts(allCohorts)">Update</button>
	        </div>
	    </div>
	</div>

	<!--DALLAS CAMPUS-->
	<div class="default_cards_container">
	    <div class="default_repeat_cards white_background_color">
	        <div class="default_cards_head"><div><p>Dallas Cohorts</p></div><div><i ng-click="edit_Dallas()" class="fa fa-plus"></i></div></div>
					<!-- TODO ADD NEW DALLAS IOS COHORT -->
	        <div class="options_input">
						<p>Senior</p>
	          <p>{{}}&nbsp;&nbsp;<input ng-model="allCohorts.Dallas.senior"></p>
	          <p>Junior</p>
						<p>{{}}&nbsp;&nbsp;<input ng-model="allCohorts.Dallas.junior"></p>
	          <p>Future</p>
						<p>{{}}&nbsp;&nbsp;<input ng-model="allCohorts.Dallas.future"></p>
	          <button ng-show="editDallas" class="options-button" ng-click="saveCohorts(allCohorts)">Update</button>
	        </div>
	    </div>
	</div>

</div>

</div> <!--main-wrapper closing div -->
