<side-bar-nav></side-bar-nav>
<user-info></user-info>

<!--PROVO CAMPUS-->
<div class="main-wrapper">
	<div class="default_cards_container">
	    <div class="default_repeat_cards">
	        <div class="default_cards_head"><div><p>Provo Cohorts</p></div></div>
	        <p class="default_cards_text">
	            senior: <input ng-model="allCohorts.Provo.senior">
	            junior: <input ng-model="allCohorts.Provo.junior">
	            future: <input ng-model="allCohorts.Provo.future">
	            <button class="options-button" ng-click="saveCohorts(allCohorts)">Save</button>
	        </p>
	    </div>
	</div>

	<!--SLC CAMPUS-->
	<div class="default_cards_container">
	    <div class="default_repeat_cards">
	        <div class="default_cards_head"><div><p>SLC Cohorts</p></div></div>
	        <p class="default_cards_text">
	            senior: <input ng-model="allCohorts.SLC.senior">
	            junior: <input ng-model="allCohorts.SLC.junior">
	            future: <input ng-model="allCohorts.SLC.future">
	            <button class="options-button" ng-click="saveCohorts(allCohorts)">Save</button>
	        </p>
	    </div>
	</div>

	<!--DALLAS CAMPUS-->
	<div class="default_cards_container">
	    <div class="default_repeat_cards">
	        <div class="default_cards_head"><div><p>Dallas Cohorts</p></div></div>
					<!-- TODO ADD NEW DALLAS IOS COHORT -->
	        <p class="default_cards_text">
	            senior: <input ng-model="allCohorts.Dallas.senior">
	            junior: <input ng-model="allCohorts.Dallas.junior">
	            future: <input ng-model="allCohorts.Dallas.future">
	            <button class="options-button" ng-click="saveCohorts(allCohorts)">Save</button>
	        </p>
	    </div>
	</div>
</div> <!--main-wrapper closing div -->
