<side-bar-nav></side-bar-nav>
<user-info></user-info>

<div class="main-wrapper">

  <p>
    check out options
  </p>

  <input type="datetime-local" name="name" ng-model="checkout.start">start date and time</input><br>
  <input type="datetime-local" name="name" ng-model="checkout.end">end date and time</input><br>
  <input type="number" name="name" ng-model="checkout.interval">length of each appointment in minutes</input>
  <select ng-model="checkout.campus" /> //fix default value to not be blank using ng-options
  <option value="provo">Provo</option>
  <option value="SLC">SLC</option>
  <option value="dallas">Dallas</option>
  </select>
  <button type="button" name="button" ng-click="createCheckout(checkout)">create checkout</button>



</div> <!--main-wrapper closing div -->
