.pending-wrap
	height: 100vh
	background-color: #3C3C3C
	text-align: center
	padding-top: 30px
	margin: auto

.pending-image
	margin-bottom: 50px

.pending-message
	font-family: proxima
	font-size: 30px
	color: white