#student_workorder_header_text
  width: 100%
  text-align: center
  font-size: 20px

.student_workorder_cards_text
    padding-top: 10px
    word-wrap: break-word
    padding-left: 10px
    padding-right: 10px

    @media (min-width: 768px)
        padding-top: 30px

.background_image
    background: url("../assets/img/home2.jpg")
    background-size: cover
    height: 100vh

    @media (max-width: 320px)
        height: 100%

.white_background_color
    background: #f1f1f1

body
    background: url("../assets/img/home2.jpg")
    background-size: cover
    background-attachment: fixed
    // height: 100vh

.student_workorder_sort_container
    display: flex
    padding-left: 10px
    justify-content: space-between

.new_workorder_form
  display: flex
  justify-content: space-between


  // #student_workorder_view
  //   width: inherit
  //
  //     @media (max-width: 768px)
  //       width: 100%
