<student-side-bar-nav></student-side-bar-nav>
<user-info></user-info>

<div class="student-main-wrapper">

    <!--Top card with search options-->
    <div class="default_cards_container">
        <div class="workorder_repeat_cards">
            <div class="default_cards_head"><div id="student_workorder_header_text"><p>Create Workorder</p></div></div>
            <div class="workorder_sort_container default_cards_text">
                <div><input ng-model="workorder" placeholder="search"></input></div>
                <div><select ng-model="workorder.problemType">
                    <option value="" selected>Select</option>
                    <option value="appliance">appliance</option>
                    <option value="electrical">electrical</option>
                    <option value="plumbing">plumbing</option>
                    <option value="other">other</option>
                </select>
                <button ng-click="toggleWorkorderDashboard = !toggleWorkorderDashboard; workorders.description = workorder.description;workorders.problemType = workorder.problemType; workorders._id = workorder._id">Add New Workorder</button>
            </div>
            </div>
            <div class="workorder_faq_cards_edit" ng-show="toggleWorkorderDashboard">
                <input ng-model="workorder.dateSubmitted" placeholder="Date"></input><br>
                <input ng-model="Workorder.submittedBy" placeholder="Submitted by"></input><br>
                <textarea ng-model="adminWorkorder.description" placeholder="Description"></textarea><br>
                <!-- <form>
                    <p>Less than 24 hours notice to enter OK?</p>
                    <input type="radio" value="<24">Yes</input>
                    <input type="radio" value="<24">No</input>
                </form> -->
                <select ng-model="adminWorkorder.problemType" name="type" required>
                    <option value="" disabled selected>Select</option>
                    <option value="appliance">appliance</option>
                    <option value="electrical">electrical</option>
                    <option value="plumbing">plumbing</option>
                    <option value="other">other</option>
                </select>
                <button ng-click="workorderCreate(adminWorkorder)">Create</button>
            </div>
        </div>
    </div>


    <!--Repeating cards of work orders-->
    <div class="default_cards_container">
        <div class="workorder_repeat_cards" ng-repeat="workorder in list | orderBy: '-'| filter: workorder">
            <div class="default_cards_head">
                <div><p>Work Order Unit: {{workorder.unit}}</p></div>
            </div>

            <!-- <div class="default_cards_divider_container"> -->
                <div class="student_workorder_cards_text">
                    <p><span class="bold">Submitted by: </span>{{workorder.submittedBy}}</p><br>
                    <span class="bold">Date: </span>{{workorder.dateSubmitted}}</p>
                    <span class="bold">Selected Issue</span>&nbsp;&nbsp;<span>{{workorder.problemType}}</span>
                    <p><span class="bold">Description:</span>&nbsp;&nbsp;{{workorder.description}}</p>
                </div>
        </div>
    </div>



  <!-- <div ng-messages="workorderForm.type.$error" ng-if="wordorderForm.type.$dirty || workorderForm.$submitted" role="alert">
      <p ng-message="required" class="error">Please select problem category type</p>
  </div>

  <textarea ng-model="workorder.description" name="description" placeholder="Description" required></textarea>
  <div ng-messages="workorderForm.description.$error" ng-if="workorderForm.description.$dirty || workorderForm.$submitted" role="alert">
      <p ng-message="required" class="error">Please describe the problem</p>
  </div>

  <button type="submit" ng-disabled="workorder.$invalid" ng-click="workorderCreate(workorder)">submit</button> -->


</div>
