.login-button

  &:hover

  &:active



.signup-button


.error
  color: red

.sign_up_create_account
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.sign_up_personal_info
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.info_same_line
  display: flex
  justify-content: center
  align-items: center
  flex-direction: row

.car_input
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
