.background-wrap
  height: 100vh
  color: #F1EDED
  background-color: #3C3C3C
  text-align: center

.login-container
  padding: 0

.login-logo
  height: 350px
  margin-top: 30px
  margin-bottom: 13px

  @media (max-width: 500px)
    height: 215px

.login-wrap
  display: inline-block
  padding: 10px
  height: 200px


.email-input, .password-input
  width: 240px
  padding: 7px
  border: none
  font-size: 14px
  display: block
  margin-bottom: 10px
  background: #3C3C3C
  color: white
  text-align: center

.login-buttons
  display: inline-block

.login-button, .register-button
  height: 35px
  width: 90px
  margin-top: 10px
  border: none
  box-shadow: 0px 3px 6px rgba(25, 25, 25, 0.50)
  border-radius: 0px
  color: white
  background-color: #418AD0
  font-size: 13px
  outline: 0

  &:active
    box-shadow: 0 1px 2px rgba(25, 25, 25, 0.50)
    transform: translateY(2px)
    outline: 0

  &:hover
    background-color: #5693cd

.contact-admin
  position: fixed
  bottom: 8px
  left: 11px
  text-align: left
  clear: both

  @media (max-width: 500px)
    font-size: 11px

.sign-up-section
  background-color: #3C3C3C
  margin-top: 0px
  padding: 0

.info-same-line
  margin-bottom: 10px

.sign-up-header
  font-size: 20px

.section-header
  font-size: 18px
  margin-bottom: 10px

.birthdate-line
  position: relative
  left: 30px

.create-field
  font-family: proxima
  margin-bottom: 25px
  background-color: #3C3C3C
  color: white
  border: none
  text-align: center
  font-size: 16px

.gender
  font-family: proxima

.car-radio
  margin-bottom: 15px

.car-input
  display: flex
  flex-direction: column
  margin-bottom: 30px

.car-field
  font-family: proxima
  margin-bottom: 10px
  background-color: #3C3C3C
  color: white
  border: none
  text-align: center
  font-size: 16px

.error
  color: red

.sign-up-create-account
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.sign-up-personal-info
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.private-room-select
  margin-bottom: 35px

.private-room-text
  margin-bottom: 35px

.register-submit
  width: 185px
  height: 45px
  padding: 9px
  margin-bottom: 20px
  border: none
  box-shadow: 0px 3px 6px rgba(25, 25, 25, 0.50)
  border-radius: 0px
  color: white
  background-color: #418AD0
  font-size: 32px
  font-family: proxima
  outline: 0

  &:disabled
    opacity: .5

  &:active
    box-shadow: 0 1px 2px rgba(25, 25, 25, 0.50)
    transform: translateY(2px)
    outline: none

  &:hover
    background-color: #5693cd



.login-return
  width: 145px
  height: 30px
  border: none
  margin-bottom: 20px
  padding: 5px
  box-shadow: 0px 3px 6px rgba(25, 25, 25, 0.50)
  border-radius: 0px
  color: white
  background-color: #418AD0
  font-size: 16px
  font-family: proxima
  outline: 0

  &:active
    box-shadow: 0 1px 2px rgba(25, 25, 25, 0.50)
    transform: translateY(2px)
    outline: none

  &:hover
    background-color: #5693cd

button
  cursor: pointer
  @media (max-width: 500px)
    background-color: white
    border: 1px black solid
    border-radius: 5px

  &:disabled
    cursor: auto
    opacity: .5



input:-webkit-autofill
  -webkit-box-shadow: 0 0 0px 1000px #3C3C3C inset
  -webkit-text-fill-color: white

input:focus
  outline: none

input:focus::-webkit-input-placeholder
    color: transparent
