.current_housing_cards_container
  display: flex
  flex-direction: column
  width: calc(100% - 345px)

.current_housing_repeat_cards
  display: flex
  flex-direction: column
  justify-content: center
  padding: 10px
  padding-bottom: 20px
  margin: 10px
  font-size: 16px
  box-shadow: 1px 1px 4px rgba(134, 134, 134, .5)
  margin-left: 25px
  color: #3c3c3c

.current_housing_cards_head
  display: flex
  justify-content: space-between
  padding-bottom: 5px
  padding-top: 5px
  padding-left: 10px
  padding-right: 10px
  margin-bottom: 10px
  margin-top: -10px
  margin-left: -10px
  margin-right: -10px
  color: white
  background: #418AD0
  font-size: 20px

.requested_housing_cards_head
  position: fixed
  width: 300px
  display: flex
  justify-content: space-between
  padding-bottom: 5px
  padding-top: 5px
  padding-left: 10px
  padding-right: 10px
  margin-bottom: 10px
  margin-top: -10px
  margin-left: -10px
  margin-right: -10px
  color: white
  background: #3C3C3C
  font-size: 20px

.header_address
  font-size: 16px
  margin-top: 5px

.current_housing_cards_head i
    padding-left: 10px

.current_housing_cards_text
  padding-top: 10px
  word-wrap: break-word

  @media (min-width: 768px)
      padding-top: 30px

.cards_list_container
  display: flex
  flex-direction: row
  justify-content: space-between

// change position to fixed and figure out scroll
.wants_housing_container
  position: fixed
  width: 300px

  word-wrap: break-word
  // right: 25px
  overflow-y: auto

.current_housing_search_container
  margin-left: 25px
  font-size: 20px
  margin-top: 20px

.gray
  color: #3c3c3c

.wants_housing_subheader
  font-size: 20px

.wants_housing_user_details
  font-size: 14px
  font-style: italic

.wants_housing_list
  max-height: 510px
  margin-top: 5px

.add_user_select

.bedroom_users_names
  font-size: 18px
