<side-bar-nav></side-bar-nav>
<user-info></user-info>

<div class="main-wrapper">

 <div class="current_housing_search_container">
    <p class="bold">Current Housing</p>
    <input class="housing-search-bar" placeholder="Campus/Room/Notes" ng-model="query" />
    <select ng-model="queryBy" /> //fix default value to not be blank
    <option value="unitNumber">Unit Number</option>
    <option value="campus">Campus</option>
    <option value="propertyName">Property Name</option>
    <!-- <option value="allCurrentOccupants">Occupant</option> -->
    </select>
</div>

<div class="cards_list_container">

    <div class="current_housing_cards_container">
        <div class="current_housing_repeat_cards" ng-repeat="unit in currentHousing | filter: query">
            <div class="current_housing_cards_head">
                <div>
                    <p>{{unit.campus}} - {{unit.unitNumber}}</p>
                </div>
            </div>
            <p class="current_housing_cards_text">
              {{unit.propertyName}} {{unit.address.street1}} {{unit.address.street2}}<br>
              {{unit.currentBedrooms.roomNumber}} <br>
              <span class="bold">Admin Notes:</span> {{unit.adminNotes}}<br>
              <div ng-repeat="bedroom in unit.currentBedrooms">
                Room: {{bedroom.roomNumber}}
                <div ng-repeat="person in bedroom.currentOccupants">
                  Occupant: {{person.firstName}} {{person.lastName}}
                </div>
              </div>
            </p>
        </div>
    </div>

    <div class="wants_housing_container current_housing_repeat_cards">
        <div class="requested_housing_cards_head">
            <div>
                <p>Requested Housing</p>
            </div>
        </div>
        <div class="wants_housing_list">
            <p class="bold">Men &#9794;</p>
            <p ng-repeat="person in needHousing | filter: {gender: 'M'} | filter: {singleRoom: {wantsSingleRoom: false}}">
              {{person.firstName}} {{person.lastName}} - {{person.age}} - {{person.currentAddress.city}}, {{person.currentAddress.state}}
            </p>
            <br>
            <p class="bold">Requested Private Room</p>
            <p ng-repeat="person in needHousing | filter: {gender: 'M'} | filter: {singleRoom: {wantsSingleRoom: true}}">
            {{person.firstName}} {{person.lastName}} - {{person.age}} - {{person.currentAddress.city}}, {{person.currentAddress.state}}
            </p>
            <hr>
            <br>
            <p class="bold">Women &#9792;;</p>
            <p ng-repeat="person in needHousing | filter: {gender: 'F'} | filter: {singleRoom: {wantsSingleRoom: false}}">
            {{person.firstName}} {{person.lastName}} - {{person.age}} - {{person.currentAddress.city}}, {{person.currentAddress.state}}
            </p>
            <br>
            <p class="bold">Requested Private Room</p>
            <p ng-repeat="person in needHousing | filter: {gender: 'F'} | filter: {singleRoom: {wantsSingleRoom: true}}">
            {{person.firstName}} {{person.lastName}} - {{person.age}} - {{person.currentAddress.city}}, {{person.currentAddress.state}}
            </p>
        </div>
    </div>

</div>

</div> <!--main-wrapper closing div -->
