<side-bar-nav></side-bar-nav>
<admin-mobile-side-bar-nav></admin-mobile-side-bar-nav>
<user-info></user-info>

<div class="main-wrapper">

    <div class="current_housing_search_container">
       <p class="bold">Future Housing <span ng-if="cohortFilter">&mdash; {{cohortFilter.junior}} {{cohortFilter.future}}</span>
         <select ng-model="cohortFilter" ng-options="cohort as cohort.name for cohort in allCohorts"></select></p>

       <div class="update-current-button" class="user_info_modal" ng-init="showConfirmModal=false" ng-if="cohortFilter">
          <button  ng-click="showConfirmModal = !showConfirmModal">Update Current</button>  <!-- confirmTheUpdate(cohortFilter) -->


           <!-- <button class="user_info_button" ng-click="showUserModal = !showUserModal" hide-Modal="hideUserModal">User Info</button> -->
           <div class="future_housing_modal_fade_in  checkin_create_block"
           aria-hidden="false" ng-show="showConfirmModal">
               <div class="checkin_modal_header checkin_create_block_header">
                   <div class="checkin_modal_create_header checkin_create_header">
                     <span>ARE YOU SURE?  THERE IS NO GOING BACK.</span></div>
               </div>
               <div class="user_update_modal  future_housing_checkin_create_block_content">
                 <br>
                 Type in password to continue:
                 <input type="password" ng-model="adminPW">
                 <button type="submit" class="" ng-click="confirmTheUpdate(cohortFilter,adminPW); showConfirmModal=false">Update</button>
               </div>
               <div class="modal-footer">
                   <br>
                   <button type="button" class="future_housing_modal-close-button" ng-click="showConfirmModal=false">Cancel</button>
               </div>
           </div>
       </div>
    </div>

    <!--Repeating cards of housing units-->
        <div class="cards_list_container" ng-if="cohortFilter">
           <div class="current_housing_cards_container">
               <div class="current_housing_repeat_cards white_background_color" ng-repeat="unit in currentHousing | filter: {campus: cohortFilter.name}">
                   <div class="current_housing_cards_head">
                     <div>
                         {{unit.campus}} &mdash; {{unit.unitNumber}}
                     </div>
                     <div class="header_address">
                       {{unit.propertyName}} {{unit.address.street1}}
                     </div>
                   </div>
                   <div class="bold">
                     <span ng-if="unit.currentBedrooms.length == 1">{{unit.futureBedrooms.length}} bedroom.</span>
                     <span ng-if="unit.currentBedrooms.length > 1">{{unit.futureBedrooms.length}} bedrooms.</span>
                     <br><br>
                   </div>
                     <div ng-repeat="currentBedroom in unit.currentBedrooms track by $index">
                       Room: {{currentBedroom.roomNumber}} - Max occupants: {{currentBedroom.maxOccupants}}
                       <br> Current Occupant:

                      <p ng-repeat="user in currentBedroom.currentOccupants track by $index">{{user.firstName}} {{user.lastName}}
                        <button ng-click="saveCurrentUsertoFuture(unit, user, $parent.$index)">Save Current Occupant</button>
                          <select ng-model="currentBedroom.user[$index]" ng-options="user.firstName + ' ' + user.lastName group by user.gender for user in needHousing | filter: filterCurrentCohorts | filter: {campus: cohortFilter.name}"></select>
                          <button type="button" name="button" ng-click="saveUnit(unit.futureBedrooms[$parent.$index], currentBedroom.user[$index])">Update User</button>
                      </p>
                     </div>

                     <div ng-repeat="futureBedroom in unit.futureBedrooms">
                       <br>
                       <span class="bold_all_good" ng-show="futureBedroom.futureOccupants.length === futureBedroom.maxOccupants">
                         Bedroom full
                       </span>
                       <p ng-repeat="user in futureBedroom.futureOccupants">
                         Future Occupant: {{user.firstName}} {{user.lastName}}&nbsp;
                         <i ng-click="removeUser(unit.futureBedrooms[$parent.$index], user)" class="fa fa-times"></i>
                       </p>
                     </div>



               </div>
           </div>

           <!--Wants housing container on right of page-->
                  <div class="wants_housing_container current_housing_repeat_cards white_background_color">
                      <div class="requested_housing_cards_head">
                          <div>
                              <p>Housing Waiting List</p>
                          </div>
                      </div>
                      <div class="wants_housing_list">
                          <p class="bold">Men &#9794;</p>
                          <p ng-click="showDetails = !showDetails" ng-repeat="user in needHousing | filter: {gender: 'M'} | filter: {singleRoom: {wantsSingleRoom: false}} | filter: filterCurrentCohorts | filter: {campus: cohortFilter.name}">
                            {{user.firstName}} {{user.lastName}} &mdash; {{user.age}}
                            <span class="wants_housing_user_details"ng-show="showDetails"><br>&nbsp;&nbsp;&nbsp;&nbsp;{{user.role}} <span ng-repeat="cohort in user.cohortID">{{cohort}} </span><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;{{user.currentAddress.city}}, {{user.currentAddress.state}}</span>
                          </p>
                          <br>
                          <p class="bold">Requested Private Room</p>
                          <p ng-click="showDetails = !showDetails" ng-repeat="user in needHousing | filter: {gender: 'M'} | filter: {singleRoom: {wantsSingleRoom: true}} | filter: filterCurrentCohorts | filter: {campus: cohortFilter.name}">
                            {{user.firstName}} {{user.lastName}} &mdash; {{user.age}}
                            <span class="wants_housing_user_details" ng-show="showDetails"><br>&nbsp;&nbsp;&nbsp;&nbsp;{{user.role}} <span ng-repeat="cohort in user.cohortID">{{cohort}} </span><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;{{user.currentAddress.city}}, {{user.currentAddress.state}}</span>
                          </p>
                          <hr>
                          <br>
                          <p class="bold">Women &#9792;</p>
                          <p ng-click="showDetails = !showDetails" ng-repeat="user in needHousing | filter: {gender: 'F'} | filter: {singleRoom: {wantsSingleRoom: false}} | filter: filterCurrentCohorts | filter: {campus: cohortFilter.name}">
                            {{user.firstName}} {{user.lastName}} &mdash; {{user.age}}
                            <span class="wants_housing_user_details" ng-show="showDetails"><br>&nbsp;&nbsp;&nbsp;&nbsp;{{user.role}} <span ng-repeat="cohort in user.cohortID">{{cohort}} </span><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;{{user.currentAddress.city}}, {{user.currentAddress.state}}</span>
                          </p>
                          <br>
                          <p class="bold">Requested Private Room</p>
                          <p ng-click="showDetails = !showDetails" ng-repeat="user in needHousing | filter: {gender: 'F'} | filter: {singleRoom: {wantsSingleRoom: true}} | filter: filterCurrentCohorts | filter: {campus: cohortFilter.name}">
                            {{user.firstName}} {{user.lastName}} &mdash; {{user.age}}
                            <span class="wants_housing_user_details" ng-show="showDetails"><br>&nbsp;&nbsp;&nbsp;&nbsp;{{user.role}} <span ng-repeat="cohort in user.cohortID">{{cohort}} </span><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;{{user.currentAddress.city}}, {{user.currentAddress.state}}</span>
                          </p>
                      </div>
                  </div>

    </div>

</div> <!--main-wrapper closing div -->
