<side-bar-nav></side-bar-nav>
<user-info></user-info>

<div class="main-wrapper">

    <div class="current_housing_search_container">
       <p class="bold">Future Housing</p>
       <!-- <input class="housing-search-bar" placeholder="Campus/Room/Notes" ng-model="query" />
       <select ng-model="queryBy"> //fix default value to not be blank
       <option value="unitNumber">Unit Number</option>
       <option value="campus">Campus</option>
       <option value="propertyName">Property Name</option> -->
       <!-- <option value="allCurrentOccupants">Occupant</option> -->
       <!-- </select> -->
       <select ng-model="cohortFilter" ng-options="cohort as cohort.name for cohort in allCohorts">
         <option value="" selected>Campus</option>
      <!-- <option value="DM-10">DM-10</option>
      <option value="DM-11">DM-11</option>
      <option value="DM-12">DM-12</option> -->
       </select>
    </div>

    <!--Repeating cards of housing units-->
        <div class="cards_list_container">
           <div class="current_housing_cards_container">
               <div class="current_housing_repeat_cards" ng-repeat="unit in currentHousing | filter: {campus: cohortFilter.name}">
                   <div class="current_housing_cards_head">
                       <div>
                           <p>{{unit.campus}} - {{unit.unitNumber}}</p>
                       </div>
                   </div>
                   <p class="current_housing_cards_text">
                     {{unit.propertyName}} {{unit.address.street1}} {{unit.address.street2}}<br>
                     {{unit.futureBedrooms.roomNumber}} <br>
                     <span class="bold">Admin Notes:</span> {{unit.adminNotes}}<br>
                     <div ng-repeat="bedroom in unit.currentBedrooms">
                       Room: {{bedroom.roomNumber}} - Max occupants: {{bedroom.maxOccupants}}
                       <br> Current Occupant:
                      <p ng-repeat="person in bedroom.currentOccupants track by $index">{{person.firstName}} {{person.lastName}}
                      <select ng-model="bedroom.user[$index]" ng-options="user.firstName + ' ' + user.lastName group by user.gender for user in needHousing | filter: filterCurrentCohorts | filter: {campus: cohortFilter.name}">
                      </select><button type="button" name="button" ng-click="saveUnit(bedroom, bedroom.user)">save user</button></p>
                      <div ng-repeat="bedroom in unit.futureBedrooms">
                      <br><p ng-repeat="person in bedroom.futureOccupants">Future Occupant: {{person.firstName}} {{person.lastName}}&nbsp;<i ng-click="removeUser(bedroom, person)" class="fa fa-times"></i></p>
                      </div>
                       <!-- <br> Assign Occupant:
                       <select ng-model="bedroom.user" ng-options="user.firstName + ' ' + user.lastName group by user.gender for user in needHousing | filter: filterFutureCohorts | filter: {campus: cohortFilter.name}">
                       </select>
                       <button type="button" name="button" ng-click="saveUnit(bedroom, bedroom.user)">save user</button> -->
                        <!-- <div ng-repeat="person in bedroom.futureOccupants">
                         Occupant: {{person.firstName}} {{person.lastName}} <i ng-click="removeUser(bedroom, person)" class="fa fa-times"></i>
                       </div> -->
                     </div>
                   </p>
               </div>
           </div>

           <!--Wants housing container on right of page-->
                  <div class="wants_housing_container current_housing_repeat_cards">
                      <div class="requested_housing_cards_head">
                          <div>
                              <p>Requested Housing</p>
                          </div>
                      </div>
                      <div class="wants_housing_list">
                          <p class="bold">Men &#9794;</p>
                          <p ng-repeat="person in needHousing | filter: {gender: 'M'} | filter: {singleRoom: {wantsSingleRoom: false}} | filter: filterCurrentCohorts | filter: {campus: cohortFilter.name}">
                            <!-- {{person.firstName}} {{person.lastName}} - {{person.age}} - {{person.currentAddress.city}}, {{person.currentAddress.state}} -->
                            {{person.firstName}} {{person.lastName}} - {{person.campus}} - {{person.cohortID}}
                          </p>
                          <br>
                          <p class="bold">Requested Private Room</p>
                          <p ng-repeat="person in needHousing | filter: {gender: 'M'} | filter: {singleRoom: {wantsSingleRoom: true}} | filter: filterCurrentCohorts | filter: {campus: cohortFilter.name}">
                              <!-- {{person.firstName}} {{person.lastName}} - {{person.age}} - {{person.currentAddress.city}}, {{person.currentAddress.state}} -->
                              {{person.firstName}} {{person.lastName}} - {{person.campus}} - {{person.cohortID}}
                          </p>
                          <hr>
                          <br>
                          <p class="bold">Women &#9792;;</p>
                          <p ng-repeat="person in needHousing | filter: {gender: 'F'} | filter: {singleRoom: {wantsSingleRoom: false}} | filter: filterCurrentCohorts | filter: {campus: cohortFilter.name}">
                              <!-- {{person.firstName}} {{person.lastName}} - {{person.age}} - {{person.currentAddress.city}}, {{person.currentAddress.state}} -->
                              {{person.firstName}} {{person.lastName}} - {{person.campus}} - {{person.cohortID}}
                          </p>
                          <br>
                          <p class="bold">Requested Private Room</p>
                          <p ng-repeat="person in needHousing | filter: {gender: 'F'} | filter: {singleRoom: {wantsSingleRoom: true}} | filter: filterCurrentCohorts | filter: {campus: cohortFilter.name}">
                              <!-- {{person.firstName}} {{person.lastName}} - {{person.age}} - {{person.currentAddress.city}}, {{person.currentAddress.state}} -->
                              {{person.firstName}} {{person.lastName}} - {{person.campus}} - {{person.cohortID}}
                          </p>
                      </div>
                  </div>

    </div>

</div> <!--main-wrapper closing div -->
